.l_menu {
    padding: 20px 15px;
}
.tab_content {
    min-width: 100% !important;
}
.lm_head li button {
    border-radius: 0px;
    width: 100%;
    height: 47px;
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #EBEBEB;
    color: #0B5493;
}
.box-next button:hover {
    background: #EAE3E3;
    color: #ffffff;
    border: 0px;
}
.box-next button {
    position: absolute;
    top: 250px;
    font-size: 19px;
    border: 0px solid #ECEAEA;
    padding: 7px 5px 5px 3px;
    color: #BDBDD6;
    border-radius: 0px;
    background: #F7F3F3;
}
.tab-content {
  padding: 20px 0px;
}
.nav-wizard {
    position: relative;
    height: 40px;
}
.b4 {
    position: absolute !important;
    right: -2px;
}
.b3 {
    position: absolute !important;
    right: 92px;
}
.b2 {
    position: absolute !important;
    right: 190px;
}
.hdh_head .nav-tabs > li > a {
  border: 0px !important;
  border-radius: 0px !important;
}
.lm_head li {}
.lm_head li button i {
    position: absolute;
    left: 42px;
    color: gray;
}
.col-md-8.l_right {}

.lr_head {
}
.hdh_head li>h3 {
    margin: 0px;
    font-size: 18px;
}

.hdh_head ul>li {
    padding: 0px;
}

.step_1>img {height: 100%;}

.step_1>p {
    left: 14px !important;
}
.lrb_content {
    padding: 20px 15px;
}
.step_2, .step_3, .step_4 {
    margin-left: -29px;
}
.l_right {
    padding: 20px 7px;
}
.hdh_head {border: 1px solid #EEEEEE;}

.step_1>p,.step_2>p,.step_3>p,.step_4>p {position: absolute;top: 12px;color: #ffffff;font-size: 18px;left: 25px;}
li.steps_info {
    width: 52%;
}
.b1>a {
    float: left;
}

.b1>span, .b2>span, .b3>span, .b4>span {
    padding: 10px 20px;
    float: left;
    color: #36099E;
}
.step_2, .step_3, .step_4 {
    margin: -15px;
}
.li_hd {
    padding: 10px 20px !important;
}
.step_1>p>span,.step_2>p>span,.step_3>p>span,.step_4>p>span {
    font-size: 30px;
    position: absolute;
    top: -9px;
    right: -20px;
    font-weight: bold;
}

.step_1 {
}
.step_1, .step_2, .step_3, .step_4 {
    width: 111px;
    height: 50px;
    position: relative;
}
.step_1 img,.step_2 img,.step_3 img,.step_4 img {
    width: 100%;
}
.nav-tabs {
    border: none;
}
.tab-content>.tab-pane>img {
    width: 100%;
}
.b2_active, .b3_active, .b4_active {
    position: static !important;
}

.b2_span_active{
    position: absolute;
    top:9px;
    left: 203px;
    color: #36099E;
}
.b3_span_active {
    position: absolute;
    top:9px;
    left: 300px;
    color: #36099E;
}

.b_span_d_none{
    display: none !important;
}
.b_span_d_block{
    display: block;
}
.b1_span_db{
    display: block !important;
}
